<?xml version="1.0"?>
 <!--
   Software License Agreement (BSD License)

     Stream Manipulator 3d - https://github.com/3DVision-Stack/stream-manipulator-3D
     Copyright (c) 2016, Federico Spinelli (fspinelli@gmail.com)
     All rights reserved.

   Redistribution and use in source and binary forms, with or without
   modification, are permitted provided that the following conditions are met:

   * Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer.

   * Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.

   * Neither the name of the copyright holder(s) nor the names of its
     contributors may be used to endorse or promote products derived from
     this software without specific prior written permission.

   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
   AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
   IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
   DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
   FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
   DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
   SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
   CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
   OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
   OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 -->

<launch>

  <!-- ========================== -->
  <!--        Configuration       -->
  <!-- ========================== -->

  <!-- run_rviz:  If true runs rviz gui.-->
  <arg name="run_rviz" default="true" doc="If true runs rviz gui with custom config."/>

  <!-- load:  Load a preset of parameters from yaml file named as this argument, without extension (yaml files must be located into ${HOME}/.stream_manipulator folder).-->
  <arg name="load" default="default_config" doc="Load a configuration from yaml file named as this argument, without extension (yaml files must be located into ${HOME}/.stream_manipulator folder)."/>

  <!-- ========================== -->
  <!--        Implementation      -->
  <!-- ========================== -->

  <rosparam command="load" file="$(find stream_manipulator_3d)/$(arg load).yaml" ns="stream_manipulator" />

  <!-- stream_manipulator_3d node  -->
  <node name="stream_manipulator" pkg="stream_manipulator_3d" type="stream_manipulator_3d" output="screen" />

  <!-- rviz -->
  <node if="$(arg run_rviz)" name="rviz_stream_manipulator" pkg="rviz" type="rviz" respawn="false" args="-d $(find stream_manipulator_3d)/sm3d.rviz" output="screen"/>

</launch>
